* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --pv-color-1: #fff;
    --pv-color-2: #ff8000;
    --pv-color-3: #0d2e52;
    --pv-color-4: #242424;

    --pv-bgColor: var(--pv-color-1);
    --pv-borderColor: var(--pv-color-3);
    --pv-text: var(--pv-color-4);
    --pv-accentColor: var(--pv-color-2);

    /* BORDER RADIUS */
    --pv-border-radius: 8px;

    /* SPACING */

    --pv-margin-xs: 5px;
    --pv-margin-s: 10px;
    --pv-margin-m: 20px;
    --pv-margin-l: 30px;
    --pv-margin-xl: 40px;

    --pv-padding-xs: 5px;
    --pv-padding-s: 10px;
    --pv-padding-m: 20px;
    --pv-padding-l: 30px;
    --pv-padding-xl: 40px;

    --pv-gap-xs: 5px;
    --pv-gap-s: 10px;
    --pv-gap-m: 20px;
    --pv-gap-l: 30px;
    --pv-gap-xl: 40px;
}

body {
    background-color: var(--pv-bgColor);
    min-height: 100svh;
}

p, h1, h2, h3, h4, h5, h6, a, button {
    color: var(--pv-text);
}

#naranjitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--pv-padding-xl);
    gap: var(--pv-gap-xl);
    max-height: 80svh;
    overflow-y: scroll;
}

#naranjitos > div {
    display: flex;
    flex-direction: column;
    gap: var(--pv-gap-m);
    max-width: 500px;
    box-shadow: 1px 2px 7px -3px var(--pv-borderColor);
    border-radius: var(--pv-border-radius);
    padding: var(--pv-padding-m);
}

#naranjitos > div img {
    width: 20px;
}

.userInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--pv-gap-m);
}

.userInfo h3{
    font-size: 14px;
}

.userInfo > p {
    opacity: 0.5;
    font-size: 10px;
}

#naranjitos > div > .userInfo > img {
    width: 30px;
}

.textoPrincipal {
    color: var(--pv-text);
}

.info {
    display: flex;
    justify-content: end;
    gap: var(--pv-gap-m);
}

.info > div {
    display: flex;
    gap: var(--pv-gap-xs);
}

.info > div > img {
    cursor: pointer;
    transition: all 0.25s;
}

.info > div > img:hover {
    transform: scale(1.3);
}

#publicar {
    display: flex;
    gap: var(--pv-gap-m);
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 100px;
    width: 100%;
    height: 200px;
    background-color: var(--pv-bgColor);
}

#publicar > input {
    border-radius: var(--pv-border-radius);
    width: 80%;
    max-width: 700px;
    height: 30px;
    border: 2px solid var(--pv-borderColor);
    padding: var(--pv-padding-m) var(--pv-gap-l);
}

#publicar > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
}

#publicar > button:hover {
    transform: scale(1.1);
    animation: animacionNaranja 0.5s infinite;
}

/* Animación */

@keyframes animacionNaranja {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(25deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-25deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#publicar > button > img{
    width: 30px;
}

.login-page {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100svh;
    background-color: var(--pv-color-4);
    display: flex;
    flex-direction: column;
    padding: var(--pv-padding-xl);
    justify-content: center;
    align-items: center;
}


.login-page > img {
    width: 100px;
    animation: animacionLoginImg 1s forwards;
}

@keyframes animacionLoginImg {
    0% {
        transform: scale(0) translateX(-1000px);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1) translateX(0px);
    }
}